.full-img,
.full-text {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
}

hr{
  color: #d1cdc7; 
  
  border: none;
    height: 1px;
}
html {
 
 
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}










.float-child {
  width: 50%;
  float: left;  
}  
a{
  color: rgb(99, 142, 223);
}
.vis-img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sensor-img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header-text {
  text-align: center;
  color: rgb(99, 142, 223);
}

.header {
  margin-top: 2.5em;
  padding: 0;
}

.home {
  margin-top: 12em;
  text-align: center;
}

.block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 2400px) {
  .full-text {
    font-size: 16px;
  }
  .header-text {
    font-size: 26px;
  }
  .gif-text {
    font-size: 24px;
  }
  .gif-text-h5-dv{
    font-size: 21px;
  }
}

@media screen and (max-width: 992px) {
  .full-text {
    font-size: 15px;
  }
  .header-text-ugsrp {
    font-size: 22px;
  }
  .gif-text {
    font-size: 20px;
  }
  .gif-text-h5-dv {
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  .full-img {
    width: 95%;
  }
  .gif-text-h6{
    font-size: 16px;
  }
  
    .full-text {
      font-size: 13px;
    }
    .header-text {
      font-size: 21px;
    }
    .gif-text {
      font-size: 19px;
    }
    .gif-text-h5-dv {
      font-size: 19px;
    }
  
}
