/* width */
.graph-wrapper{
  text-align: center;
}
/* Handle */

.home-graphs {
  margin-top: 12em;
  text-align: center;
}


.x-axis, .y-axis{
  width: 20%;
    float: left;
}
.x-axis{
  margin-left: 30%;
}
.y-axis{
  margin-right: 30%;
}

.graph-block{
  padding-top: 3%
}
.header-text-graphs {
  text-align: center;
  color: rgb(99, 142, 223);
}

@media screen and (max-width: 2400px) {
  .full-text {
    font-size: 16px;
  }
  .header-text-graphs {
    font-size: 26px;
  }
}

@media screen and (max-width: 992px) {
  .full-text {
    font-size: 15px;
  }
  .header-text-graphs {
    font-size: 22px;
  }
}

@media screen and (max-width: 650px) {
    .full-text {
      font-size: 13px;
    }
    .header-text-graphs {
      font-size: 21px;
    }
  
}
